[Unit]
Description=Reload Multitouch
After=hibernate.target

[Service]
Type=oneshot
ExecStart=/sbin/modprobe -r hid_multitouch ; /sbin/modprobe hid_multitouch

[Install]
WantedBy=hibernate.target
